@use "@styles/partials" as *;

.header{
  background-color: $primary50;
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  border-bottom: 1px solid $text;

  @include mobile {
    padding: 0.75rem 1rem 0.75rem 1rem;
    flex-wrap: wrap;
    gap: 0.75rem;
  }
  @include tablet {
    padding: 1rem 2.125rem;
    gap: 1.25rem;
    align-items: center;
  }
  @include desktop {
    padding: 1rem;

    gap: 1.85rem;
    align-items: center;
  }

  &__nav{
    display: flex;
    gap:1rem;
    color: $text;
  }
  &__nav-item{
    color:$text50;
    font-size:1.25rem;
  }
}