@use '@styles/partials' as *;
.footer{
  background-color: $primary50;
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  width:100%;
  position:absolute;
  bottom:0;

  @include mobile {
    padding: 0.75rem 1rem 0.75rem 1rem;
    flex-wrap: wrap;
    gap: 0.75rem;
  }
  @include tablet {
    padding: 1rem 2.125rem;
    gap: 1.25rem;
    align-items: center;
  }
  @include desktop {
    padding: 1rem;

    gap: 1.85rem;
    align-items: center;
  }
  &__nav{
    display: flex;
    gap:1rem;
  }
}